
#agrirify {
    font-family: 'Inter', sans-serif;
    margin: 25px;
    margin-top: 40px;
    font-size: 1.5rem;
}

#agrirify a {
    text-decoration: none;
    color: #006723;
}
#header {
    background-color: #E8FACD;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

#nav-links a {
    text-decoration: none;
    margin: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #006723;
    display: inline-block;
    font-size: 16px;
    margin-top: 40px;

}

button  {
    background-color: #70b603;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
}


button a {
    text-decoration: none;
    color: white;
}

#logout-btn, #login-btn, #signup-btn {
    float: right;
    margin: 20px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    
}

#top-search {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1200px;
}

#top-search button {
    height: 40px;
    background-color: #70b603;
    border: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

#map-veg {
    display: flex;
    width: 1200px;

}

#top {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
}

.veggie-list-item {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.veggie-list-item:hover {
    background-color: #EEF3F9
}

.veggie-list-item img {
    height: 50px;
    padding-right: 5px;
}

.veggie-list-item h4  {
    padding-right: 10px;
}

.veggie-list-item p {
    padding-top: 8px;
}

#veggie-div {
    height: 500px;
    overflow-y:scroll;
}

#add-veggie-form {
    display: flex;
    flex-direction: column;
}

/* ========== MY VEGGIES ==========*/

.my-single-veggie {
    display:flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}

.my-single-veggie img {
    width: 60px;
}


/* ========== REQUESTS & RESPONSES ==========*/

.single-request {
    border: 1px solid #ccc;
}

.single-request-header {
    padding: 1rem;
}

.single-request img {
    width: 60px;
}

.single-request h2 {
    display: inline-block;
    margin-left: 1rem;
}

.single-response {
    outline: 1px solid red;
    padding: 0.5rem 1rem;
}

.sender-meta {
    margin-bottom: 0;
}

.message-timestamp {
    color: #767676;
    margin-left: 0.5rem;
}